@import "tailwindcss";

:root {
  --SoftOrange: hsl(35, 77%, 62%);
  --SoftRed: hsl(5, 85%, 63%);

  --OffWhite: hsl(36, 100%, 99%);
  --GrayishBlue: hsl(233, 8%, 79%);
  --DarkGrayishBlue: hsl(236, 13%, 42%);
  --VeryDarkBlue: hsl(240, 100%, 5%);
}
@theme {
  --tracking-button: 0.2rem;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

html {
  font-family: "Inter", sans-serif;
  background-color: var(--OffWhite);
}

.fade-in {
  animation: fadeIn 0.3s ease-in-out forwards;
}
.fade-out {
  animation: fadeOut 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
@keyframes fadeOut {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 0;
  }
}

.nav-link {
  @apply text-(--VeryDarkBlue) hover:text-(--SoftRed) lg:text-(--DarkGrayishBlue) duration-300;
}

.new-wrap {
  @apply flex flex-col gap-2;
}
.new-heading {
  @apply text-(--OffWhite) font-bold text-lg hover:text-(--SoftOrange) duration-300 cursor-pointer;
}
.new-text {
  @apply text-(--DarkGrayishBlue) text-sm;
}

.numeric-list {
  counter-reset: item;
}
.numeric-wrap {
  @apply flex flex-row justify-start w-full md:w-auto gap-6 md:max-w-[350px];
  list-style-type: none;
}
.numeric-content {
  @apply flex flex-col justify-between w-[360px] lg:w-auto;
}
.numeric-heading {
  @apply font-extrabold text-lg hover:text-(--SoftRed) duration-300;
}
.numeric-text {
  @apply text-sm text-(--DarkGrayishBlue);
}
.numeric-content::before {
  @apply font-bold text-4xl;
  counter-increment: item;
  content: counter(item, decimal-leading-zero);
  color: var(--SoftRed);
  display: block;
}